# 다음 사건사고가 발생하기까지 걸리는 시간

### Data
이 문제에서는 Austine시에서 발생한 사건⠂사고와 관련된 데이터가 주어집니다. 주어지는 column 은 다음과 같습니다.

* unique_key: 사건⠂사고를 구분하는 유니크한 key
* descript: 사건⠂사고 유형(강도, 음주운전 등)
* address: 사건⠂사고 발생 주소
* location: 사건⠂사고 발생 위치(위도, 경도)
* timestamp: 사건⠂사고 발생일시. YYYY-MM-DD hh:mm:ss 형식

In [1]:
# 초기코드 - python

# 모듈 import
import pandas as pd

# 데이터 로드
df = pd.read_csv('./data/austine-incidents.csv', low_memory=False, index_col='unique_key')
df.head()

,descript,address,location,timestamp
unique_key,,,,
2016160158,POSS OF DRUG PARAPHERNALIA,7500 BLOCK N IH 35 SVRD SB,NaN,2016-01-16 01:09:00
20165001577,BURGLARY OF VEHICLE,1400 BLOCK BRIARCLIFF BLVD,NaN,2016-01-11 20:30:00
20165002896,IDENTITY THEFT-TAX RETURNS,200 BLOCK ELKHART ST,NaN,2016-01-21 14:00:00
20168000234,CRIMINAL MISCHIEF,3500 BLOCK NORTH HILLS DR,NaN,2016-01-16 20:10:00
20168000074,THEFT,4700 BLOCK STAGGERBRUSH RD,NaN,2015-12-18 20:05:00

In [ ]:
# 초기코드 - R

# 데이터 로드
df <- read.csv('./data/austine-incidents.csv', row.names='unique_key')
head(df)

# 과제

주어진 데이터를 활용해, 어떤 사건⠂사고가 발생한 후 다음 사건⠂사고가 발생하기까지 걸리는 시간을 알아보려 합니다.
  
## 할 일

##### 1. 다음 사건⠂사고가 발생하기까지 걸린 시간 측정하기

어떤 사건⠂사고가 발생한 시간과 이전 사건⠂사고가 발생한 시간의 차를 분단위로 `duration(m)` 컬럼에 저장해주세요. 첫 사건⠂사고는 이전 사건⠂사고가 없을 테니, 이 첫 사건⠂사고에 대한 row는 제외해주세요. 

정상적으로 코드를 작성했다면, row의 수는 9999개이며, 결과는 다음과 같이 나옵니다.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>descript</th>
      <th>address</th>
      <th>location</th>
      <th>timestamp</th>
      <th>duration(m)</th>
    </tr>
    <tr>
      <th>unique_key</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016530815</th>
      <td>THEFT</td>
      <td>700 BLOCK RIO GRANDE ST</td>
      <td>NaN</td>
      <td>2015-02-20 12:00:00</td>
      <td>2557.0</td>
    </tr>
    <tr>
      <th>20165013579</th>
      <td>OUT OF CITY OFFENSE</td>
      <td>12300 BLOCK ALAMEDA TRACE CIR</td>
      <td>NaN</td>
      <td>2015-02-23 12:00:00</td>
      <td>4320.0</td>
    </tr>
    <tr>
      <th>20165022918</th>
      <td>HARASSMENT</td>
      <td>500 BLOCK W 10TH ST</td>
      <td>NaN</td>
      <td>2015-02-24 11:09:00</td>
      <td>1389.0</td>
    </tr>
    <tr>
      <th>20168001525</th>
      <td>IDENTITY THEFT</td>
      <td>11400 BLOCK ROBERT WOODING DR</td>
      <td>NaN</td>
      <td>2015-02-24 15:55:00</td>
      <td>286.0</td>
    </tr>
    <tr>
      <th>20165008223</th>
      <td>LOST PROP</td>
      <td>3200 BLOCK FEATHERGRASS CT</td>
      <td>NaN</td>
      <td>2015-02-25 20:00:00</td>
      <td>1685.0</td>
    </tr>
  </tbody>
</table>

In [12]:
df.timestamp

unique_key
2016160158     2016-01-16 01:09:00
20165001577    2016-01-11 20:30:00
20165002896    2016-01-21 14:00:00
20168000234    2016-01-16 20:10:00
20168000074    2015-12-18 20:05:00
201611017      2016-01-01 04:00:00
2016170954     2016-01-17 15:23:00
20165002716    2016-01-20 12:30:00
2016160317     2016-01-16 04:53:00
20165001482    2016-01-11 22:00:00
201661261      2015-12-07 00:01:00
20165000331    2016-01-03 15:00:00
2016201850     2016-01-15 18:00:00
2016211028     2016-01-21 04:00:00
20165002771    2016-01-20 16:58:00
201610254      2016-01-01 00:56:00
20165000517    2016-01-05 09:14:00
2016210042     2016-01-21 00:29:00
2016201010     2016-01-20 14:44:00
2016171340     2016-01-17 20:02:00
2016110697     2016-01-11 12:10:00
2016180345     2016-01-18 07:59:00
201651588      2016-01-05 20:29:00
201690443      2016-01-09 08:36:00
20165002174    2016-01-15 22:00:00
20165001648    2016-01-12 22:43:00
2016100332     2016-01-10 04:51:00
2016121287     2016-01-12 18:49:00
20165001491    2016-01-11 18:30:00
201650162      2016-01-05 03:09:00
                      ...
20165005042    2015-12-31 10:41:00
2016100080     2016-01-10 00:52:00
20165018651    2015-12-01 07:25:00
20165002105    2016-01-15 17:06:00
2016170229     2016-01-17 02:37:00
2016161186     2016-01-16 17:24:00
20165002513    2016-01-10 10:00:00
20165000861    2016-01-06 18:00:00
201641538      2016-01-04 20:02:00
20165001952    2016-01-14 15:00:00
20165002519    2016-01-19 11:11:00
2016141433     2016-01-14 19:02:00
2016151999     2016-01-15 23:05:00
20165002492    2015-12-07 16:00:00
2016201450     2016-01-20 19:08:00
20165026090    2015-11-01 12:00:00
2016131549     2016-01-13 19:48:00
20165009921    2015-05-01 00:00:00
20165002517    2016-01-14 12:00:00
2016151502     2016-01-15 18:57:00
2016120725     2016-01-12 12:14:00
201681472      2016-01-08 18:26:00
20168000159    2016-01-12 11:15:00
20165002550    2016-01-18 07:45:00
20165001718    2016-01-13 11:15:00
20168000181    2015-12-31 21:30:00
20165010257    2015-11-13 12:00:00
201640018      2016-01-04 00:18:00
20165003005    2016-01-21 20:00:00
20165001379    2015-12-30 15:00:00
Name: timestamp, Length: 10000, dtype: object

In [ ]:
# 여기에 코드를 작성하세요.
df['duration(m)'] =

##### 2. 이상치 제거

`duration(m)`에는 값이 0이거나, 또는 너무 값이 큰 데이터가 들어있습니다. 이런 이상치와 outlier는 제거해야 합니다. 따라서 `duration(m)`의

* 값이 0 이하거나
* 정규분포에서 -2σ 이하 또는 2σ 이상인 값

을 가지는 데이터는 제거해주세요. 값을 정상적으로 제거했다면 남은 row는 7026개입니다.

In [ ]:
# 여기에 코드를 작성하세요.

##### 3. 결과 저장

채점을 하기 위해, 위에서 구한 `unique_key`, `duration(m)`을 현재 파일과 같은 디렉토리(.ipynb 파일이 있는 디렉토리)에 `incidents_duration.csv`이라는 이름으로 저장해주세요. 이때

1. `duration(m)`은 소숫점을 버리고, 정수 형식으로 저장
2. `unique_key` 순으로 정렬

해주셔야합니다. 저장할 파일 포맷은 data 디렉토리의 `incidents_duration(sample).csv` 파일을 참고하세요.

*주의* 

1. csv 파일의 컬럼은 반드시 unique_key - duration(m) 순이어야 합니다.
2. **csv 파일은 unique_key 순으로 정렬되어있어야 합니다.**

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# csv 파일 저장 예시 - python
df.to_csv('incidents_duration.csv')

In [ ]:
# csv 파일 저장 예시 - R
write.csv(df, file='incidents_duration.csv')