- 상담원으로 일하고 있는 백준이는 퇴사를 하려고 한다. 오늘부터 n+1 일에 되는 날 퇴사를 하기 위해서 남은 n 일 동안 최대한 많은 상담을 하려고 한다.

- 입력 조건:
    1. 첫째 줄에 n이 주어진다.
    2. 둘째 줄부터 n개의 줄에 상담하는데 걸리는 날의 수(t)와 지불받는 금액(p)가 공백으로 구분되어 주어진다.
    
- 출력 조건: 첫째 줄에 백준이가 얻을 수 있는 최대 이익을 출력한다.

7
3 10
5 20
1 10
1 20
2 15
4 40
2 200

45

In [1]:
n = int(input())
t = []
p = []
dp = [0] * (n+1)
max_value = 0

for _ in range(n):
    x, y = map(int, input().split())
    t.append(x)
    p.append(y)
    
for i in range(n-1, -1, -1):
    time = t[i] + i
    if time <= n:
        dp[i] = max(max_value, p[i]+dp[time])
        max_value = dp[i]
    else:
        dp[i] = max_value
print(max_value)
print(dp[-1])

7
3 10
5 20
1 10
1 20
2 15
4 40
2 200
45
0

In [2]:
dp

[45, 45, 45, 35, 15, 0, 0, 0]

In [3]:
print(t, p)

[3, 5, 1, 1, 2, 4, 2] [10, 20, 10, 20, 15, 40, 200]

In [4]:
print(time)

3

In [6]:
[i for i in range(10, -1, -1)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]